@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

body{
    font-family: 'Jua', sans-serif;
    margin:0px;
    background-color: black;
}

#start-page .header{
    display: flex;
    justify-content: center;
    background-color: black;
    color:whitesmoke;
}

#start-page main{
    height:500px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-block-end: 50px;
}

.start-page--img{
    height: 100%;
    padding-bottom: 20px;
}

.linkStyle {
    text-decoration: inherit;
    color: inherit;
}

.start-game--button{
    font-family: 'Jua', sans-serif;
    justify-content: center;
    background-color: whitesmoke;
    font-size: 16px;
    padding: 10px;
    border: 8px;
    display:flex;
    border-radius: 8px;
    border: solid 2px grey;
    transition:all 0.9s, color 0.3;
    cursor: pointer;

}

.start-game--button:hover{
    box-shadow:200px 0 0 0 rgba(0,0,0,0.5) inset;
}



