@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Jua', sans-serif;
}

.header{
  width:100%;
  height: 70px;
  justify-content: center;
  align-items: center;
  display:flex;
  background-color: red;
  margin-bottom:30px;
  margin-top: 30px;
}

h1{
  color:whitesmoke;
  font-size: large;
}

main{
  display: flex;
  justify-content: space-around;
}

aside.sidebar{flex: 1;}
section.burger{flex: 5;}
section.cart-card{flex: 2;}

aside.sidebar {
  display:flex;
  align-items:center;
  justify-content: center;
  width: 70%;
  height: 120px;
  flex-direction: column;
  background-color: rgb(240, 210, 13);
  border-radius: 8px;
  margin-left: 10px;
}

h2.sidebar__option-title{
  font-size: 20px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}

li.sidebar__option-li{
  width:100px;
  font-size: 15px;
  color: white;
  background-color: rgb(235, 166, 18);
  padding: 3px;
  border-radius: 5px;
  margin-bottom: 5px;
}

section.burger{
  width:100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px 20px;
}

article.burger-card {
  width: 45%;
  height:150px;
  display: flex;
  background-color: white;
  border: 1px solid grey;
  border-radius: 8px;
  justify-content: center;
  align-items:center;
  box-shadow: 3px 3px 3px grey;
}
article.burger-card:hover{
  background-color: rgb(240, 210, 13);
}

.burger-name{
  font-size: large;
}

.burger-content{
  width: 50%;
}

article.burger-card > img{
  width: 150px;
}

section.cart-card{
  width: 90%;
  height: 100%;
  display: flex;
  justify-content:space-between;
  flex-direction: column;
  background-color: rgb(240, 210, 13);
  border-radius: 8px;
  padding: 10px;
  position:sticky;
  top:0;
}

.cart__list {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  list-style: none;
  flex-wrap: wrap;
}
.cart__list > div{
  flex-wrap: wrap;
  display: flex;
  width:100%;
}

.cart__list--burger-name,
.cart__list--price {
  flex: 2;
  min-width: fit-content;
}

.cart__list--amount {
  flex: 1;
  width: 50px;
  max-width: fit-content;
}

.cart__list--remove-btn {
  flex: 1;
  text-align: right;
  font-weight: 600;
  background-color: transparent;
}

.cart__list--remove-btn:hover {
  box-shadow: none;
}

hr.white{
  width:95%;
  height:2px;
  background-color:white;
  border:none;
  margin-top: 10px;
  margin-bottom: 10px;
}

.cart-btn{
  display: flex;
  justify-content: center;
  gap:20px;
}

button{
  display: flex;
  margin:0;
  background-color: rgb(235, 166, 18);
  padding: 3px;
  border: 0;
  border-radius: 5px;
}

.modal.hide{
  display: none;
}

.modal{
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal__body{
  width: fit-content;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: white;
  border-radius: 18px;
  padding: 15px;

  display: flex;
  flex-direction: column;
  gap: 15px;
}


.button__group{
  font-size: 15px;
  padding: 10px 15px;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  gap:20px;
}

.button__group a {
  border-radius: 10px;
  text-decoration: none;
  color: black;
  padding: 10px;
  background-color: rgb(240, 210, 13);;
}

.button__group button {
  border-radius: 10px;
  text-decoration: none;
  background-color: lightgrey;
}

footer{
  width:100%;
  height: 300px;
  background-color: black;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  padding-top: 30px;
}

footer > p{
  color:white;
  font-size: 20px;
}

@media (max-width: 1200px){
  aside.sidebar {
    display:flex;
    background-color: transparent;
  }
  h2.sidebar__option-title{
    display:none;
  }
  ul.sidebar__option{
    position:absolute;
    top: 40px;
    margin-left: 100px;
  }
  aside.sidebar{flex: 0;}
  section.burger{flex: 5;}
  section.cart-card{flex: 2;}
}
@media (max-width: 900px) {
  article.burger-card {
    width: 100%;
  }
}